html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, #ADEBB3, #d6ebd8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Index.cshtml */
.installation-info-container{
  display: flex;
  flex-direction: row;
}

.flex-left-installation{
  width: 53%;
  margin: 5px;
  padding: 5px;
}

.flex-right-installation{
  width: 50%;
  height: auto;
  margin: 5px;
}

.flex-right-installation img {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.installation-text {
  font-size:16px;
}

.schedule-now-container {
  text-align: center;
  margin-top: 30px;
}

.schedule-now-btn {
  display: inline-block;
  background-color: #94AE89;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
  width: 100%;
}

.schedule-now-btn:hover {
  background-color: #849b7b;
}

.extra-services-container {
  display:flex;
  justify-content: space-around;
  margin-top:50x;
}

.service-box {
  width:45%;
  text-align: center;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.service-box img {
  width:100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.service-box h3 {
  margin-top:15px;
  font-size: 20px;
  color: #28a745;
}

.service-box p {
  font-size: 16px;
  margin: 10px 0;
  color: gray;
}

.service-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #94AE89;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.service-btn:hover {
  background-color: #849b7b;
}

/* about-us.cshtml */

.about-us-container {
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #C0DA74, #BEEDAA);
  padding: 50px;
  border-radius: 10px;
}

.about-left {
  width: 50%;
  padding: 20px;
}

.about-left h2 {
  font-size: 88px;
  color: #1e5631;
  margin-bottom: 15px;
  text-align:right;
}

.about-right {
  width: 50%;
  text-align: right;
}

.about-right img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.about-info {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.about-info p {
  font-size: 20px;
}

.faq-container {
  background-color: #f9f9f9;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

.faq-title {
  font-size: 28px;
  color: #1e5631;
  margin-bottom:30px;
}

.faq-content {
  display:flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

.faq-column {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 20px;
}

.faq-item {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.faq-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.faq-question {
  font-size: 18px;
  color: #333;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.faq-question:focus {
  outline: none;
}

.faq-answer {
  padding: 10px 15px;
  border-left: 3px solid #1e5631;
  font-size: 16px;
  text-align: left;
  background: #fff;
  margin-left: 45px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* login.cshtml + sign-up.cshtml */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 110px;
}

.login-container {
  background-color: #282828;
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container .form-control {
  border-radius: 20px;
  margin-bottom: 20px;
}

/* reduce-carbon-footprint.cshtml */
.carbon-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background:#f9f9f9;
  padding: 40px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1)
}

.carbon-image {
  display:flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.carbon-image img {
  max-height: 250px;
  width: auto;
}

.carbon-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  padding-left: 20px;
}

.carbon-content h2, .carbon-content h3 {
  color: #1e5631;
  font-size: 24px;
  margin-bottom: 10px;
}

.carbon-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

.carbon-content ul {
  padding-left: 20px;
}

.carbon-content ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

.reducing-carbon-container {
  text-align: center;
  padding: 40px;
  background: #f9f9f9;
  border-radius: 10px;
  max-width: 1200px;
  margin: 40px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.reducing-carbon-container h2 {
  font-size: 24px;
  color: #1e5631;
  margin-bottom: 20px;
}

.carbon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 30px;
  justify-content: center;
}

.carbon-item {
  display:flex;
  align-items: center;
  text-align: left;
  gap: 15px;
}

.carbon-item p {
  font-size: 16px;
  max-width: 300px;
}

.carbon-item img {
  width: 100px;
  height: 100px;
}

/* green-technology.cshtml */
.article-container {
  display:flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
  max-width: 90%;
  margin: 0 auto;
  align-items: stretch;
}

.article-card {
  display:flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.article-image-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.article-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 15px;
  background-color: #1a1a1a;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.article-title {
  font-size: 16px;
  color: white;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  line-clamp: 2; /* Standard property for compatibility */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em;
}

.article-carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-carousel {
  display:flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}

.carousel-btn {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index:1;
}

.carousel-btn.left {
  left: 0;
}

.carousel-btn.right {
  right: 0;
}

.carousel-btn.disabled {
  color:gray;
  cursor: not-allowed;
}

/* article.cshtml */
.article-page {
  background-color: #f9f9f9;
  padding: 50px;
  border-radius: 10px;
}

.article-page img {
  width:100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}


/* calculate-carbon-footprint.cshtml */

.carbon-calc {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carbon-calc button {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.carbon-calc button:hover {
  background: #218838;
  color: white;
}

.carbon-calc-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.carbon-calc-tabs .tab {
  background: #ddd;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 45px;
  color: black;
}

.carbon-calc-tabs .tab.active {
  background: #666;
  color: white;
}

.carbon-calc-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.carbon-calc-card {
  background: #eee;
  padding: 20px;
  border-radius: 5px;
}

.carbon-calc-card label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.carbon-calc-card input, .carbon-calc-card select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* installation.cshtml */
.schedule-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  background: #fff;
  padding: 40px; /* Increased padding for more spacing */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.schedule-left, .schedule-right {
  flex: 1;
  max-width: 290px;
  padding: 20px;
  background-color: #f0f0f0; /* Changed background color to grey */
  border-radius: 10px; /* Added rounded corners */
}

.schedule-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased gap for better spacing */
  padding-top: 40px; /* Added padding to push it down */
}

.consultation-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased gap for better spacing */
}

.schedule-input, .schedule-calculator, .schedule-overall {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.schedule-input {
  gap: 15px;
}

textarea.schedule-input {
  resize: none;
}

.schedule-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.schedule-button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.schedule-button:hover {
  background: #333;
}

.schedule-right h3, .schedule-right p, .schedule-right label, .schedule-right h4 {
  margin: 5px 0;
}