html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, #ADEBB3, #d6ebd8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

#userDropdown::after {
  display: none;
}

/* Notification */
.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #94AE89; /* Green background for success */
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  z-index: 1000;
  animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(-10px);
  }
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Placeholder for under construction */
.under-construction-container {
  text-align: center;
  padding: 50px;
  background-color: #fff8e1;
  border-radius: 10px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.under-construction-title {
  font-size: 32px;
  color: #1e5631;
  margin-bottom: 20px;
}

.under-construction-message {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.back-home-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #94AE89;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.back-home-btn:hover {
  background-color: #849b7b;
}

/* Index.cshtml */
.installation-info-container{
  display: flex;
  flex-direction: row;
}

.flex-left-installation{
  width: 53%;
  margin: 5px;
  padding: 5px;
}

.flex-right-installation{
  width: 50%;
  height: auto;
  margin: 5px;
}

.flex-right-installation img {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.installation-text {
  font-size:16px;
}

.schedule-now-container {
  text-align: center;
  margin-top: 30px;
}

.schedule-now-btn {
  display: inline-block;
  background-color: #94AE89;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
  width: 100%;
}

.schedule-now-btn:hover {
  background-color: #849b7b;
}

.extra-services-container {
  display:flex;
  justify-content: space-around;
  margin-top:50x;
}

.service-box {
  width:45%;
  text-align: center;
  background: #fff8e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.service-box img {
  width:100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.service-box h3 {
  margin-top:15px;
  font-size: 20px;
  color: #28a745;
}

.service-box p {
  font-size: 16px;
  margin: 10px 0;
  color: gray;
}

.service-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #94AE89;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.service-btn:hover {
  background-color: #849b7b;
}

/* about-us.cshtml */

.about-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #C0DA74, #BEEDAA);
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-left {
    width: 50%;
    padding: 20px;
}

.about-left h2 {
    font-size: 68px;
    color: #1e5631;
    margin-bottom: 15px;
}

.about-left p {
    font-size: 18px;
    color: #555;
}

.about-right {
    width: 50%;
    text-align: right;
}

.about-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-info {
    padding: 20px 50px;
    background-image: linear-gradient(to right, #C0DA74, #BEEDAA);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.about-info p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.faq-container {
  background-color: #fff8e1;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

.faq-title {
  font-size: 28px;
  color: #1e5631;
  margin-bottom:30px;
}

.faq-content {
  display:flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

.faq-column {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 20px;
}

.faq-item {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.faq-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.faq-question {
  font-size: 18px;
  color: #333;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.faq-question:focus {
  outline: none;
}

.faq-answer {
  padding: 10px 15px;
  border-left: 3px solid #1e5631;
  font-size: 16px;
  text-align: left;
  background: #fff;
  margin-left: 45px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.collapse {
  transition: height 0.05s ease-out !important; /* Reduce duration to 0.2s */
}

/* login.cshtml + sign-up.cshtml */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 110px;
}

.login-container {
  background-color: #282828;
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container .form-control {
  border-radius: 20px;
  margin-bottom: 20px;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.toggle-password:hover {
  color: #333;
}

/* reduce-carbon-footprint.cshtml */
.carbon-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background:#fff8e1;
  padding: 40px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1)
}

.carbon-image {
  display:flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.carbon-image img {
  max-height: 250px;
  width: auto;
}

.carbon-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  padding-left: 20px;
}

.carbon-content h2, .carbon-content h3 {
  color: #1e5631;
  font-size: 24px;
  margin-bottom: 10px;
}

.carbon-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

.carbon-content ul {
  padding-left: 20px;
}

.carbon-content ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

.reducing-carbon-container {
  text-align: center;
  padding: 40px;
  background: #fff8e1;
  border-radius: 10px;
  max-width: 1200px;
  margin: 40px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.reducing-carbon-container h2 {
  font-size: 24px;
  color: #1e5631;
  margin-bottom: 20px;
}

.carbon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 30px;
  justify-content: center;
}

.carbon-item {
  display:flex;
  align-items: center;
  text-align: left;
  gap: 15px;
}

.carbon-item p {
  font-size: 16px;
  max-width: 300px;
}

.carbon-item img {
  width: 100px;
  height: 100px;
}

/* green-technology.cshtml */
.article-container {
  display:flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
  max-width: 90%;
  margin: 0 auto;
  align-items: stretch;
}

.article-card {
  display:flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.article-image-container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.article-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-date {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}

.article-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 15px;
  background-color: #1a1a1a;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.article-title {
  font-size: 16px;
  color: white;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  line-clamp: 2; /* Standard property for compatibility */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em;
}

.pagination {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  display: block;
  padding: 10px 15px;
  color: #94AE89; /* Text color */
  background-color: white; /* Background color */
  text-decoration: none;
  border: 1px solid #94AE89; /* Border color */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link:hover,
.pagination .page-link:focus {
  background-color: #94AE89; /* Hover background color */
  color: white; /* Hover text color */
}

.pagination .page-item.active .page-link {
  background-color: #94AE89; /* Active background color */
  color: white; /* Active text color */
  border-color: #94AE89; /* Active border color */
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-form {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.search-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  font-size: 14px;
}

.search-button {
  padding: 10px 15px;
  background-color: #94AE89;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #849b7b;
}

.no-articles {
  text-align: center;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
  background-color: #fff8e1;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

/* article.cshtml */
.article-page {
  background-color: #FFF9E6;
  padding: 50px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-page-header {
  text-align: center;
  margin-bottom: 30px;
}

.article-page-title {
  font-size: 32px;
  color: #1e5631;
  margin-bottom: 10px;
}

.article-page-meta {
  font-size: 14px;
  color: #555;
}

.article-page-image-container {
  text-align: center;
  margin-bottom: 30px;
}

.article-page-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-page-content {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.article-page-not-found {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-page-not-found h2 {
  font-size: 24px;
  color: #dc3545;
  margin-bottom: 10px;
}

.article-page-not-found p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.back-to-articles-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #94AE89;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.back-to-articles-btn:hover {
  background-color: #849b7b;
}


/* calculate-carbon-footprint.cshtml */

.carbon-calc {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carbon-calc button {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.carbon-calc button:hover {
  background: #218838;
  color: white;
}

.carbon-calc-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.carbon-calc-tabs .tab {
  background: #ddd;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 45px;
  color: black;
}

.carbon-calc-tabs .tab.active {
  background: #666;
  color: white;
}

.carbon-calc-container {
  background: #fff8e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  margin: 20px auto;
}

.carbon-calc-card {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: #fff8e1;
}

.carbon-calc-card h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #1e5631;
}

.carbon-calc-card h3 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.carbon-calc-card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.carbon-calc-card ul li {
  font-size: 16px;
  margin: 10px 0;
}

.start-over-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.start-over-btn:hover {
  background-color: #218838;
}

.carbon-calc-card label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.carbon-calc-card input, .carbon-calc-card select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

canvas {
  margin-top: 20px;
  max-width: 80%; /* Shrink the graph to 80% of the container width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin-left: auto;
  margin-right: auto; /* Center the graph */
}

/* schedule.cshtml */
.schedule-options-container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  background: #fff8e1;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.schedule-title {
  font-size: 28px;
  color: #1e5631;
  margin-bottom: 15px;
}

.schedule-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.schedule-options {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.schedule-option-btn {
  display: block;
  text-decoration: none;
  background: #94AE89;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.schedule-option-btn:hover {
  background-color: #849b7b;
  transform: translateY(-5px);
}

.schedule-option-content {
  text-align: center;
}

.schedule-option-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.schedule-option-content p {
  font-size: 14px;
  color: #f0f0f0;
}

/* installation.cshtml */
.schedule-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  background: #fff8e1;
  padding: 40px; /* Increased padding for more spacing */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.schedule-left, .schedule-right {
  flex: 1;
  max-width: 290px;
  padding: 20px;
  background-color: #faf2d9;
  border-radius: 10px; /* Added rounded corners */
}

.schedule-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased gap for better spacing */
  padding-top: 40px; /* Added padding to push it down */
}

.consultation-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased gap for better spacing */
}

.schedule-input, .schedule-calculator, .schedule-overall {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.schedule-input {
  gap: 15px;
}

textarea.schedule-input {
  resize: none;
}

.schedule-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.schedule-button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.schedule-button:hover {
  background: #333;
}

.schedule-right h3, .schedule-right p, .schedule-right label, .schedule-right h4 {
  margin: 5px 0;
}

/* Settings Page */
.settings-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  width: 100%;
  background: #FFF9E6;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.settings-sidebar {
  background: #666;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.settings-sidebar h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #fff;
}

.settings-sidebar a {
  display: block;
  padding: 12px;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.settings-sidebar a:hover,
.settings-sidebar a.active {
  background: #444;
  color: #fff;
}

.settings-content {
  background: #fff8e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.settings-card {
  background: #fff8e1;
  padding: 20px;
  border-radius: 8px;
}

.settings-card label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.settings-card input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.cancel-button {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.settings-card button {
  padding: 10px 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.settings-card button:hover {
  background: #218838;
}

.settings-card button.cancel {
  background: #ccc;
  color: black;
}

.settings-card button.cancel:hover {
  background: #bbb;
}

.settings-schedule-container {
  background: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.settings-schedule-container h3 {
  font-size: 18px;
  color: #1e5631;
  margin-bottom: 15px;
}

.settings-schedule-container ul {
  list-style: none;
  padding: 0;
}

.settings-schedule-container li {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.settings-schedule-container p {
  margin: 5px 0;
}

.settings-schedule-container a {
  color: #258cfb;
  text-decoration: none;
}

.settings-schedule-container a:hover {
  text-decoration: underline;
}

.scroll-container {
  background-color: #fff8e1;
  margin-bottom: 20px;
  max-width: 900px;
  color: black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px; /* Add padding for better spacing */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.horizontal-scroll {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  white-space: nowrap;
  overflow-x: auto; /* Ensure horizontal scrolling works */
}

.scroll-item {
  background: #fff;
  color: black;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 250px; /* Limit the width of each item */
  flex: 0 0 auto; /* Prevent items from shrinking or growing */
  text-align: center;
}

.no-results {
  background: #fff;
  color:black;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reschedule-btn, .cancel-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.reschedule-btn {
  background-color: #007bff;
  color: white;
}

.reschedule-btn:hover {
  background-color: #0056b3;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
}

.cancel-btn:hover {
  background-color: #a71d2a;
}