<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RolsaTechnologies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RolsaTechnologies.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-between align-items-center w-100">
                <!-- Logo on the Left -->
                <a class="navbar-brand" href="/">
                    <img src="~/images/RT_Logo.png" alt="RolsaTechnologies Logo" style="width:123px; height:64px;"/>
                </a>
                
                <!-- Center Navigation Links -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/" style="color:black;">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about" style="color:black;">About Us</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="calculateDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black;">
                                Calculate
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="calculateDropdown">
                                <li><a class="dropdown-item" href="#">Link 1</a></li>
                                <li><a class="dropdown-item" href="#">Link 2</a></li>
                                <li><a class="dropdown-item" href="#">Link 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
                <!-- Sign Up Button on the Right -->
                <a href="/signup" class="btn btn-primary">Sign Up</a>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RolsaTechnologies - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
